<div class="row">
  <div class="col-md-12">
    <div class="text-center mr-5">
      <div class="label label-danger">404 Notfound</div>
      <div class="text-danger">Request page doesnt exist!</div>
    </div>
  </div>
</div>