doctype html
html
  head
    unless item
      -item = {}
    -pageTitle = (seo.seoName || seo.pageTitle || item.name) + ' | UIZA'
    -pageDescription = seo.seoDescription || seo.pageDescription || item.description ||  "UIZA"
    -pageImage = (seo.ogImage || item.imagePortrait)
    -pageKeyword = (seo.keyword || "OTT Platform") + ',' + item.name
    -pageCanioncal = seo.canonicalUrl || baseUrl
    -pageDescription = pageDescription.replace('<!--| -->','')
    title #{pageTitle}
    meta(charset='utf-8')
    meta(content='ie=edge', http-equiv='x-ua-compatible')
    meta(property='fb:app_id', content='1389465301151720')
    meta(property='og:title', content='#{pageTitle}')
    meta(property="og:image" content="#{pageImage}")
    meta(property="og:description" content="#{pageDescription}")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name="keywords" content="#{pageKeyword}")
    meta(name='description', content='#{pageDescription}')
    meta(name='robots', content='index, follow')
    link(rel='shortcut icon', href='#{config.intro.favicon}', type='image/x-icon')
    link(rel="canonical" href="#{pageCanioncal}")
    link(href='apple-touch-icon.png', rel='apple-touch-icon')

    link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,500', rel='stylesheet', type='text/css')
    // STYLES WEBSITE
    link(rel="stylesheet", href="/bower_components/slick-carousel/slick/slick.css")
    link(rel="stylesheet", href="/icon_fonts_assets/simple-line-icons/css/simple-line-icons.css")
    link(rel="stylesheet", href="/css/front/main.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES WEBSITE END

  body
    block body
    // SCRIPTS WEBSITE
    script(src="/js/lib/angular.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/slick-carousel/slick/slick.min.js")
    script(src="/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js")
    script(src="/bower_components/select2/dist/js/select2.full.min.js")
    script(src="/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js")
    script(src="/bower_components/moment/moment.js")
    script(src="/bower_components/bootstrap-daterangepicker/daterangepicker.js")
    script(src="/js/lib/angular-message-format.js")
    script(src="/js/lib/angular-sanitize.js")
    script(src="/js/main_front.js")
    script(src="/js/app/main.js")
    script(src="/js/app/service/ApiService.js")
    script(src="/js/app/service/UtitService.js")
    script(src="/js/app/directive/currenty.js")
    script(src="/js/app/directive/itemSlide.js")
    script(src="/js/app/directive/tab.js")
    script(src="/js/app/controller/contact.js")
    // SCRIPTS WEBSITE END