<form #{{formOptions.id}}='ngForm' ngForm class="formdata-component {{formOptions.className}}" (ngSubmit)="formOptions.submit()">
  <div class="row">
    <div class="col-md-12 formdata-title text-primary" *ngIf="formOptions.title">
      <i class="fa {{formOptions.icon || 'fa-pencil'}}"></i>
      <span class="mr-left-10">{{formOptions.title | uppercase}}</span>
    </div>
    <div class="oneForm {{oneForm.className || 'col-md-12'}}"
         *ngFor="let oneForm of formOptions.data"
    >
      <legend class="oneForm-legend" *ngIf="oneForm.title">
        <span class="bold">{{oneForm.title | uppercase}}</span>
      </legend>
      <div style="width:100%;">
        <div class="form-group" *ngFor="let form of oneForm.form">
          <label>
            <span class="mr-right-5">{{form.title}}:</span>
            <span class="mr-right-5" *ngIf="form.required" style="color: #e65252;">*</span>
            <i class="fa fa-question-circle pointer" *ngIf="form.description" tooltip="true" tooltipPlacement="top"></i>
          </label>
          <div *ngIf=" form.type=='email' || form.type=='number' || form.type=='text' || form.type=='password'">
            <input class="form-control" type="{{form.type}}"
                   id='{{form.key}}'
                   name='{{form.key}}'
                   #{{form.key}}="ngModel"
                   [(ngModel)]="model[form.key]"
                   ngModel
                   [readonly]="form.readonly || form.disabled" />
          </div>
          <div *ngIf="form.type=='date'">
            <span>{{model[form.key] | date :"yyyy-MM-dd HH:mm:ss"}}</span>
          </div>
          <div *ngIf="form.type=='textarea'">
            <textarea class="form-control" id="{{form.key}}" name="{{form.key}}"
                      #{{form.key}}="ngModel"
                      [(ngModel)]="model[form.key]"
                      ngModel [rows]="form.rows || 5"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <ul class="list-inline">
        <li *ngIf="formOptions.submit">
          <button class="btn btn-primary" type="submit">Save</button>
        </li>
        <li *ngFor='let item of formOptions.buttons'>
          <button class="btn {{item.className || 'btn-primary'}}" type='button'
                  *ngIf='item.type=="button"' (click)='item.action()'>
            {{item.title}}
          </button>
          <a class="btn {{item.className || 'btn-primary'}}" *ngIf='item.type=="link"' (click)='item.action()'>
            {{item.title}}
          </a>
      </ul>
    </div>
  </div>
</form>
<!--form( #userForm="ngForm" (ngSubmit)="onSubmitForm(userForm.value)" )-->
<!--	.form-group-->
<!--		label ID:-->
<!--		input.form-control( type="text" disabled='disabled' name="id" [value]='hero.id')-->
<!--	.form-group-->
<!--		label Name:-->
<!--		input.form-control( type="text" required name="name" #name="ngModel" [(ngModel)]='hero.name' minlength="6" maxlength="100")-->
<!--		.label.label-danger( *ngIf="name.errors && (name.dirty || name.touched)")-->
<!--			span( *ngIf="name.errors.required") Name is require-->
<!--			span( *ngIf="name.errors.minlength") Name must be at least 6 characters.-->
<!--			span( *ngIf="name.errors.maxlength") Name cannot has more than 10 characters.-->
<!--	.form-group-->
<!--		label Email address:-->
<!--		input.form-control(type='email' name="email" #email="ngModel" ngModel)-->
<!--	.form-group-->
<!--		label Password:-->
<!--		input#password.form-control(type="text" required name="password" #password="ngModel" ngModel)-->
<!--		.label.label-danger( *ngIf="!password.valid") Password is required-->
<!--	.form-group-->
<!--		label PostalCode:-->
<!--		input#postalCode.form-control(pattern="^[1-9]{1}[0-9]{4}" type='text' name="postalCode" #postalCode="ngModel" ngModel)-->
<!--		.label.label-danger( *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched)")-->
<!--			span(*ngIf="postalCode.errors.pattern") Postal Code must be 5 digits.-->
<!--	.form-group-->
<!--		label City:-->
<!--		select.form-control( name="city" #city="ngModel" ngModel)-->
<!--			option(*ngFor="let city of cities" [value]="city.id") {{city.name}}-->
<!--	.checkbox-->
<!--		label-->
<!--			input(type='checkbox' name="checked" ngModel)-->
<!--			|  Remember me-->
<!--	button.btn.btn-primary([disabled]="!userForm.valid" type='submit') Submit-->