.formdata-component {
  .formdata-title {
    font-size: 20px;
  }
  .oneForm {
    .oneForm-legend {
      position: relative;
      &::before {
        width: 50%;
        height: 0;
        display: block;
        content: '';
        border-radius: 10px;
        border-bottom: 5px solid #447aff;
        position: absolute;
        top: 100%;
      }
    }
  }
}