<div class="row">
  <div class="col-md-12">
    <h2>Hero overview</h2>
    <p>Nevermore, the Shadow Fiend, is a ranged agility hero possessing abilities that inflict superb burst damage from varying distances.</p>
    <p>Whether near or far, Shadow Fiend is able to release incredible offensive power, both physical and magical.</p>
    <p>Shadow Fiend's true power comes from the souls he takes, making him more dangerous every time he kills. With enough souls, he can release all of the captured souls in a devastating burst, dealing more damage to enemies that are closer to him.</p>
    <p>Shadow Fiend is a carry who is powerful at all stages of the game, a trait most carries don't share. He can harass and conquer the early game, gank unsuspecting heroes during the mid-stages of the game, and has huge right-click potential in the
      late game thanks to his passives, although his active abilities scale off by the end-game.</p>
  </div>
</div>